//---------------------------
//    PATRON DE OOLORES 
//---------------------------
$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;
html {
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}
.bienvenidos {
    background: url("../images/fondo-encabezado1.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encabezado {
    background: $texto;
    color: #fff;
    padding: .5rem 0;
}
.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.encabezado .logo img {
    width: 150px;
    height: auto;
}
.boton-buscar,
.boton-menu {
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0 .5rem;
    font-size: 2rem;
    margin: 0;
}
.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}
.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}
#bloque-buscar {
    flex: 1 1 100%;
}
.contenedor-bloque-buscar {
    display: flex;
}
.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: .4rem;
    flex: 1 1 auto;
}
.contenedor-bloque-buscar input[type="submit"] {
    flex: 0 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0px;
    padding: 0 1rem;
    ;
    color: #fff;
    background: $principal;
}
#menu-principal {
    flex: 1 1 100%;
    margin-top: 1rem;
}
#menu-principal ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
#menu-principal ul a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: .4rem 0px;
    border-top: 1px solid #c7b7b7;
    text-transform: uppercase;
}
#menu-principal ul a:hover {
    color: $principal;
}
#menu-principal ul li.active a {
    color: $principal;
}
.btn-primary {
    color: #fff;
    background-color: $principal;
    border-color: transparent;
    margin-top: 1rem;
}
.texto-encabezado {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
    background-color: $secundario;
    border-color: transparent;
}
.flecha-bajar a {
    color: #fff;
    display: inline-block;
    font-size: 2.5rem;
    animation: flecha-animada 2s ease-in-out infinite;
}
@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}
//---------------------------
//    SECCION AGENCIA 
//---------------------------
.agencia {
    background: $principal;
    color: #fff;
}
.agencia img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
//---------------------------
//    SECCION TU MEJOR ELECCION 
//---------------------------
.tu-mejor-eleccion span {
    color: $principal;
}
.tu-mejor-eleccion ul li,
.tu-mejor-eleccion ul li {
    list-style: none;
    min-height: 8rem;
}
.tu-mejor-eleccion ul li .prueba {
    font-size: 2.5rem;
    background: $secundario;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    color: #fff;
    display: inline-block;
}
.tu-mejor-eleccion ul li .contenedor-descripcion h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: .8rem;
}
//---------------------------
//    SECCION SERVICIOS
//---------------------------
.servicios {
    background: url(../images/fondo-servicios.jpg)no-repeat center center;
    background-size: cover;
    color: #fff;
}
.servicios article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.servicios img {
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
}
.servicios h3 {
    margin: 0px;
    font-size: 1.1rem;
    flex: 1 1 auto;
}
.servicios h3 a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.servicios h3 a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f152";
    font-size: 1.5rem;
    margin-left: 1rem;
    opacity: .6;
    position: relative;
    left: 0;
    transition: all .5s ease;
}
.servicios h3 a .icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.servicios h3 a:hover::after {
    left: -.5rem;
    opacity: 1;
    color: $principal;
}
//---------------------------
//    SECCION ULTIMOS PROYECTOS
//---------------------------
.ultimos-proyectos a {
    text-decoration: none;
}
.ultimos-proyectos a {
    color: $texto;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.ultimos-proyectos .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.ultimos-proyectos .owl-nav {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
}
.ultimos-proyectos .owl-nav svg {
    font-size: 3rem;
    margin: .5rem;
    color: $principal;
    transition: all .5s ease;
}
.ultimos-proyectos .owl-nav svg:hover {
    font-size: 3rem;
    margin: .5rem;
    color: $secundario;
}
//---------------------------
//    SECCION PIE DE PAGINA
//---------------------------
.pie-de-pagina {
    background: $texto;
    color: #fff;
    text-align: center;
    font-size: .9rem;
}
.pie-de-pagina .redes-sociales {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pie-de-pagina .redes-sociales a {
    color: #fff;
    font-size: 2rem;
    margin: 0 .6rem;
    opacity: .7;
    transition: all .5s ease;
}
.pie-de-pagina .redes-sociales a:hover {
    opacity: 1;
}
.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #a99999;
    text-decoration: none;
    z-index: 999999;
    line-height: 0;
    transition: all .5s ease;
}
.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: $principal;
}
//---------------------------
//    MEDIAS QUERYS
//---------------------------
@media(min-width:768px) {
    #menu-principal {
        display: block;
        height: auto !important;
        margin-left: auto;
        order: 1;
        flex: 0 1 auto;
    }
    #menu-principal ul {
        display: flex;
    }
    #menu-principal ul li a {
        padding: .8rem;
        text-transform: capitalize;
        border-top: 0px;
        margin: 0 .3rem;
        border-bottom: 4px solid transparent;
        transition: all .5s ease;
    }
    #menu-principal ul li.active a {
        color: $principal;
        border-bottom: 4px solid;
    }
    #menu-principal ul li a:hover {
        color: $principal;
        border-bottom: 4px solid;
    }
    .boton-buscar {
        margin-left: 1rem;
        margin-right: 0;
        order: 2;
    }
    #bloque-buscar {
        order: 3;
        position: absolute;
        width: 25rem;
        right: 8rem;
        top: 5.4rem;
        transition: all 0.5s ease;
    }
}
